:root {
    --font-color: #080908;
    --background-color: #F2F6F0;
    --variation-color: #35d50d;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: 'RobotoMono', Helvetica, sans-serif;
}

.variation-color {
    color: var(--variation-color);
}

h1 {
    font-family: 'format', Helvetica, sans-serif;
    font-size: 1.7rem;
}

h2 {
    font-family: 'format', Helvetica, sans-serif;
    font-size: 11rem;
    padding-bottom: 3rem;
}

h3 {
    font-family: 'format', Helvetica, sans-serif;
    font-size: 1.8rem;
}

p {
    line-height: 1.4;
    font-weight: 300;
}

i {
    font-family: 'RobotoMono Italic', Helvetica, sans-serif;
}

b {
    font-weight: 500;
}

.uppercase {
    text-transform: uppercase;
}

.link {
    text-decoration: none;
    color: var(--font-color);
    transition: all 0.2s ease-in-out;
}

.link:hover {
    color: var(--variation-color);
}

.link:active {
    color: var(--variation-color);
}

.link:focus {
    color: var(--variation-color);
    border: none;
}

.page-container {
    padding: 2rem 5rem;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

section {
    margin-bottom: 7rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: relative;
    z-index: -1;
}

.section-content {
    padding: 0 4rem;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

button {
    padding: 0.4rem 0.6rem 0.4rem 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'RobotoMono', Helvetica, sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 9px;
    border: 2px solid;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    height: 100%;
}

button ion-icon {
    font-size: 1.5rem;
}

.btn1 {
    color: var(--background-color);
    border-color: var(--variation-color);
    background-color: var(--variation-color);
}

.btn1:hover {
    background-color: var(--background-color);
    color: var(--variation-color);
}

.btn2 {
    color: var(--font-color);
    background-color: var(--background-color);
    border-color: var(--font-color);
}

.btn2:hover {
    color: var(--variation-color);
    border-color: var(--variation-color);
}

@media screen and (max-width: 1024px) {
    h2 {
        font-size: 8rem;
    }
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 3.5rem;
        padding-bottom: 1.5rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    .section-content {
        padding: 0;
    }
    .page-container {
        padding: 1.2rem;
    }
    section {
        margin-bottom: 4rem;
    }
}

/* SCROLLBAR */

body::-webkit-scrollbar {
    background-color: var(--background-color);
    width: 6px;
}

body::-webkit-scrollbar-thumb {
    background: var(--variation-color);
}

/* HEADER */

.header-container {
background-color: rgba(255, 255, 255, 0);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
position: fixed;
width: 100%;
z-index: 3;
}

header {
    display: flex;
    gap: 3.5rem;
    padding: 3rem 4rem 1rem 5rem;
    align-items: baseline;
    /* border-bottom: 0.2px solid var(--background-color); */
}

.descktop-nav ul {
    display: flex;
    gap: 1rem 3.5rem;
    flex-wrap: wrap;
}


@media only screen and (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 1rem;
        padding-left: 2rem;
    }
    .descktop-nav {
        display: none;
        position: relative;
        left: -100%;
    }
    .descktop-nav ul {
        flex-direction: column;
        gap: 0.7rem;
        padding-left: 1rem;
    }

    .active {
        display: block;
        left: 0;
    }

    .menu-button-container {
        position: absolute;
        top: 20px;
        right: 2rem;
        width: auto;
        height: 5em;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    .menu-button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 30px;
        cursor: pointer;
    }

    .button-part {
        width: 25px;
        height: 5px;
        background: var(--variation-color);
        border-radius: 1.5px;
        transition: all 0.15s ease-in-out;
    }

    .button-part::before, .button-part::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 5px;
        background: var(--variation-color);
        border-radius: 1.5px;
        transition: all 0.2s ease-in-out;
    }

    .button-part::before {
        transform: translateY(-10px);
    }
    .button-part::after {
        transform: translateY(10px);
    }

    .menu-button.open .button-part {
        background-color: transparent;
    }
    
    .menu-button.open .button-part::before {
        transform: rotate(45deg);
    }
    .menu-button.open .button-part::after {
        transform: rotate(-45deg);
    }
}



/* MAIN */
main {
    padding-top: 6rem;
    z-index: 2;
    position: relative;
}

/* about me section */

.marker {
    position: absolute;
    top: -6rem;
}

.about-me-content {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 0.7rem;
}

.about-me-content .infos, .photo {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.about-me-content .photo {
    position: relative;
    z-index: -1;
}

.about-me-content .photo-container {
    background-color: var(--variation-color);
}

.about-me-content .photo img {
    position: relative;
    top: -5px;
    left: -7px;
}

@media screen and (max-width: 1024px) {
    .about-me-content .infos {
        width: 50%;
    }
    .about-me-content .photo {
        width: 35%;
    }
}

@media screen and (max-width: 768px) {
    .about-me-content {
        flex-direction: column;
        gap: 5rem;
    }
    .about-me-content .infos, .about-me-content .photo {
        width: 100%;
    }
}

/* Schooling Section */

.schooling-content {
    max-width: 1000px;
    margin: 0 auto;
}

.schooling-content .left, .schooling-content .right, .schooling-content .road {
    display: flex;
}

.schooling-content .deco {
    width: 10%;
    position: relative;
}

.schooling-content .right {
    text-align: end;
    justify-content: end;
}

.schooling-content .content {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.schooling-content .content .details {
    display: flex;
    gap: 0.6rem;
    color: #a9aca7;
    font-weight: 300;
    font-size: 0.9rem;
}

.schooling-content .right .content .details {
    justify-content: flex-end;
}

.schooling-content .deco {
    z-index: -1;
}

.schooling-content .deco .point {
    height: 25px;
    width: 25px;
    border-radius: 99px;
    background-color: var(--variation-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid var(--background-color);
}

.schooling-content .deco .line {
    height: 104%;
    width: 1px;
    position: absolute;
    background-color: var(--font-color);
    bottom: -2%;
    left: 50%;
    transform: translateX(-50%);

}

.schooling-content .deco .first {
    height: 52%;
}

.schooling-content .deco .last {
    height: 52%;
    top: -2%;
}

.road .left, .road .right {
    width: 10%;
    position: relative;
    z-index: -1;
}

.road .line-container {
    width: 80%;
    height: 120px;
    position: relative;
    z-index: -1;
}

.road .line-container .line {
    width: 104%;
    height: 1px;
    background-color: var(--font-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -2%;
}

.road .corner-left-top {
    height: 60px;
    width: 50%;
    position: absolute;
    right: 0px;
    top: 0px;
    border-bottom-left-radius: 25px;
    border-left: 1px solid var(--font-color);
    border-bottom: 1px solid var(--font-color);
    transform: translate(-0.5px, 0.5px);
}

.road .corner-left-bottom {
    height: 60px;
    width: 50%;
    position: absolute;
    right: 0px;
    bottom: 0px;
    border-top-left-radius: 25px;
    border-left: 1px solid var(--font-color);
    border-top: 1px solid var(--font-color);
    transform: translate(-0.5px, -0.5px);
}

.road .corner-right-bottom {
    height: 60px;
    width: 50%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-top-right-radius: 25px;
    border-right: 1px solid var(--font-color);
    border-top: 1px solid var(--font-color);
    transform: translate(0.5px, -0.5px);
}

.road .corner-right-top {
    height: 60px;
    width: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
    border-bottom-right-radius: 25px;
    border-right: 1px solid var(--font-color);
    border-bottom: 1px solid var(--font-color);
    transform: translate(0.5px, 0.5px);
}

@media screen and (max-width: 768px) {
    .schooling-content .left .content {
        padding-left: 1.5rem;
    }
    .schooling-content .right .content {
        padding-right: 1.5rem;
    }
    .road .line-container .line {
        width: 102%;
        left: -1%;
    }
}

/* Skills Section */

.skills-container {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 1rem 4rem 1rem;
}

.skills-container .skill-container {
    flex: 1 1 20%;
    max-width: 20%;
    padding: 1rem;
}

.skills-container .skill-container .skill {
    background-color: var(--background-color);
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    position: relative;
    height: 100%;
}

.skill-container img {
    padding: 0.3rem;
}

.skill-container .shadow {
    position: absolute;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    z-index: -3;
    opacity: 0.4;
}

.skill-container .top-left-shadow {
    background-color: var(--font-color);
    top: -2px;
    left: -2px;
}

.skill-container .bottom-right-shadow {
    background-color: var(--variation-color);
    bottom: -2px;
    right: -2px;
}

@media screen and (max-width: 1024px) {
    .skills-container .skill-container {
        flex: 1 0 33%;
        max-width: 33%;
        padding: 01rem;
    }
}

@media screen and (max-width: 768px) {
    .skills-container .skill-container {
        flex: 1 0 50%;
        max-width: 50%;
        padding: 01rem;
    }

    .skills-container {
        margin: 1rem 0rem 3rem 0rem;
    }
}


/* Projects section */

.projects-container {
    display: flex;
    flex-wrap: wrap;
}

.project-container {
    flex: 1 0 50%;
    max-width: 50%;
    padding: 1.2rem;
}

.project {
    padding: 1rem;
    border-radius: 15px;
    border: 1px solid var(--variation-color);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.project img {
    border-radius: 9px;
    height: 250px;
    object-fit: cover;
}

.projects-buttons {
    display: flex;
    gap: 0.5rem;
    width: 100%;
}

.projects-buttons .btn1 {
    width: 100%;
}

.projects-buttons .highlight-link {
    flex-grow: 1;
}

.project-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
}

.project-tags .tag {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.2rem 0.4rem 0.2rem 0.2rem;
    border-radius: 100px;
    border: 1px solid var(--font-color);
    font-size: 0.7rem;
}

.project-tags .tag img {
    height: 1rem;
}

@media screen and (max-width: 768px) {
    .projects-container {
        flex-direction: column;
    }
    .project-container {
        flex: 1 0 100%;
        width: 100%;
        max-width: 100%;
    }
    .project img {
        height: 200px;
    }
}

/* Contact section */

.contact-section-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-section-content a {
    color: var(--font-color);
    transition: all 0.2s ease-in-out;
}

.contact-section-content a:hover {
    color: var(--variation-color);
}

.contact-section-content .email a {
    display: flex;
    gap: 0.8rem;
    align-items: center;
}

.contact-section-content .networks {
    font-size: 4rem;
    display: flex;
    gap: 2rem;
}

/* DESKTOP DECORATION */
.descktop-deco {
    z-index: 3;
}

.white {
    background-color: var(--font-color);
}
/* top */
.top-left-v {
    position: fixed;
    top: 0px;
    left: 42px;
    width: 1px;
    height: 35px;
}
.top-left-h {
    position: fixed;
    top: 42px;
    left: 0px;
    width: 35px;
    height: 1px;
}
.top-right-v {
    position: fixed;
    top: 0px;
    right: 42px;
    width: 1px;
    height: 35px;
}
.top-right-h {
    position: fixed;
    top: 42px;
    right: 0px;
    width: 35px;
    height: 1px;
}
/* bottom */
.bottom-left-v {
    position: fixed;
    bottom: 0px;
    left: 42px;
    width: 1px;
    height: 35px;
}
.bottom-left-h {
    position: fixed;
    bottom: 42px;
    left: 0px;
    width: 35px;
    height: 1px;
}
.bottom-right-v {
    position: fixed;
    bottom: 0px;
    right: 42px;
    width: 1px;
    height: 35px;
}
.bottom-right-h {
    position: fixed;
    bottom: 42px;
    right: 0px;
    width: 35px;
    height: 1px;
}

/* right px count */
.left-px-count {
    top: 38px;
    left: 16px;
}

.right-px-count {
    top: 38px;
    right: 16px;
}

.px-count {
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.px-count .title {
    font-weight: 200;
    font-size: 0.65rem;
    background-color: var(--background-color);
    padding: 0.5rem;
}

.px-count .line {
    width: 1px;
    height: 235px;
    background-color: var(--font-color);
}

.params {
    font-weight: 200;
    font-size: 0.65rem;
    position: fixed;
    top: 15px;
    right: 100px;
    color: var(--font-color);
    display: flex;
    gap: 2rem;
    align-items: center;
    z-index: 3;
}

.params .color-choice .color {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
}

.params .theme-switch {
    background-color: var(--font-color);
    height: 14px;
    border-radius: 99px;
    width: 25px;
    display: flex;
    justify-content: flex-start;
    padding: 2px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.params .params-container {
    display: flex;
    gap: 0.4rem;
    align-items: center;
}

.params ion-icon {
    font-size: 0.72rem;
}

.params .dark {
    justify-content: flex-end;
}

.params .theme-switch .switcher {
    background-color: var(--background-color);
    height: 10px;
    width: 10px;
    border-radius: 99px;
}

.params #random-color {
    color: var(--font-color);
    cursor: pointer;
    font-size: 0.85rem;
}

@media screen and (max-width: 768px) {
    .descktop-deco {
        display: none;
    }

    .params {
        right: 2rem;
    }
}

/* FONTS IMPORT */
@font-face {
    font-family: 'format';
    src: url("../fonts/Format_1452.woff");
}

@font-face {
    font-family: "RobotoMono";
    src: url('../fonts/RobotoMono-VariableFont.ttf') format("truetype-variations");
    font-weight: 100 700;
}
@font-face {
    font-family: "RobotoMono italic";
    src: url('../fonts/RobotoMono-Italic-VariableFont.ttf') format("truetype-variations");
    font-weight: 100 700;
}