body {
    background-color: #080908;
    color: #F2F6F0;
    /* min-height: 100%; */
    font-family: 'RobotoMono', Helvetica, sans-serif;
}

.variation-color {
    color: #44F917;
}

h1 {
    font-family: 'format', Helvetica, sans-serif;
}

h2 {
    font-family: 'format', Helvetica, sans-serif;
    font-size: 12rem;
}

h3 {
    font-family: 'format', Helvetica, sans-serif;
    font-size: 1.8rem;
}

p {
    line-height: 1.4;
    font-weight: 300;
}

i {
    font-family: 'RobotoMono Italic', Helvetica, sans-serif;
}

b {
    font-weight: 500;
}

.uppercase {
    text-transform: uppercase;
}

.link {
    text-decoration: none;
    color: #F2F6F0;
    transition: all 0.2s ease-in-out;
}

.link:hover {
    color: #44F917;
}

.link:active {
    color: #44F917;
}

.link:focus {
    color: #44F917;
    border: none;
}

.page-container {
    padding: 2rem 5rem;
}

img {
    max-width: 100%;
}

section {
    margin-bottom: 7rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.section-content {
    padding: 0 4rem;
}
/* SCROLLBAR */

body::-webkit-scrollbar {
    background-color: #080908;
    width: 6px;
}

body::-webkit-scrollbar-thumb {
    background: #44F917;
}

/* HEADER */

header {
    display: flex;
    gap: 4.5rem;
    padding: 3rem 4rem 1rem 5rem;
    align-items: baseline;
    position: fixed;
    background-color: #0809086e;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    width: 100%;
    border-bottom: 0.2px solid #080908;
}

.descktop-nav ul {
    display: flex;
    gap: 1rem 6rem;
    flex-wrap: wrap;
}

/* MAIN */
main {
    padding-top: 6rem;
}

/* about me section */

.about-me-content {
    display: flex;
    justify-content: space-evenly;
}

.about-me-content .infos, .photo {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.about-me-content .photo {
    position: relative;
    z-index: -1;
}

.about-me-content .photo-container {
    background-color: #44F917;
}

.about-me-content .photo img {
    position: relative;
    top: -5px;
    left: -7px;
}

/* Schooling Section */

.schooling-content {
    max-width: 1000px;
    margin: 0 auto;
}

.schooling-content .left, .schooling-content .right, .schooling-content .road {
    display: flex;
}

.schooling-content .deco {
    width: 10%;
    position: relative;
}

.schooling-content .right {
    text-align: end;
    justify-content: end;
}

.schooling-content .content {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.schooling-content .content .details {
    display: flex;
    gap: 0.6rem;
    color: #a9aca7;
    font-weight: 300;
    font-size: 0.9rem;
}

.schooling-content .right .content .details {
    justify-content: flex-end;
}

.schooling-content .deco .point {
    height: 25px;
    width: 25px;
    border-radius: 99px;
    background-color: #44F917;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #080908;
}

.schooling-content .deco .line {
    height: 104%;
    width: 1px;
    position: absolute;
    background-color: #F2F6F0;
    bottom: -2%;
    left: 50%;
    transform: translateX(-50%);

}

.schooling-content .deco .first {
    height: 52%;
}

.schooling-content .deco .last {
    height: 52%;
    top: -2%;
}

.road .left, .road .right {
    width: 10%;
    position: relative;
}

.road .line-container {
    width: 80%;
    height: 120px;
    position: relative;
}

.road .line-container .line {
    width: 104%;
    height: 1px;
    background-color: #F2F6F0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -2%;
}

.road .corner-left-top {
    height: 60px;
    width: 50%;
    position: absolute;
    right: 0px;
    top: 0px;
    border-bottom-left-radius: 25px;
    border-left: 1px solid #F2F6F0;
    border-bottom: 1px solid #F2F6F0;
    transform: translate(-0.5px, 0.5px);
}

.road .corner-left-bottom {
    height: 60px;
    width: 50%;
    position: absolute;
    right: 0px;
    bottom: 0px;
    border-top-left-radius: 25px;
    border-left: 1px solid #F2F6F0;
    border-top: 1px solid #F2F6F0;
    transform: translate(0.5px, -0.5px);
}

.road .corner-right-bottom {
    height: 60px;
    width: 50%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-top-right-radius: 25px;
    border-right: 1px solid #F2F6F0;
    border-top: 1px solid #F2F6F0;
    transform: translate(0.5px, -0.5px);
}

.road .corner-right-top {
    height: 60px;
    width: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
    border-bottom-right-radius: 25px;
    border-right: 1px solid #F2F6F0;
    border-bottom: 1px solid #F2F6F0;
    transform: translate(-0.5px, 0.5px);
}









/* DESKTOP DECORATION */
.white {
    background-color: #F2F6F0;
}
/* top */
.top-left-v {
    position: fixed;
    top: 0px;
    left: 42px;
    width: 1px;
    height: 35px;
}
.top-left-h {
    position: fixed;
    top: 42px;
    left: 0px;
    width: 35px;
    height: 1px;
}
.top-right-v {
    position: fixed;
    top: 0px;
    right: 42px;
    width: 1px;
    height: 35px;
}
.top-right-h {
    position: fixed;
    top: 42px;
    right: 0px;
    width: 35px;
    height: 1px;
}
/* bottom */
.bottom-left-v {
    position: fixed;
    bottom: 0px;
    left: 42px;
    width: 1px;
    height: 35px;
}
.bottom-left-h {
    position: fixed;
    bottom: 42px;
    left: 0px;
    width: 35px;
    height: 1px;
}
.bottom-right-v {
    position: fixed;
    bottom: 0px;
    right: 42px;
    width: 1px;
    height: 35px;
}
.bottom-right-h {
    position: fixed;
    bottom: 42px;
    right: 0px;
    width: 35px;
    height: 1px;
}

/* right px count */
.left-px-count {
    top: 38px;
    left: 16px;
}

.right-px-count {
    top: 38px;
    right: 16px;
}

.px-count {
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.px-count .title {
    font-weight: 200;
    font-size: 0.65rem;
    background-color: #080908;
    padding: 0.5rem;
}

.px-count .line {
    width: 1px;
    height: 235px;
    background-color: #F2F6F0;
}

.params {
    font-weight: 200;
    font-size: 0.65rem;
    position: fixed;
    top: 15px;
    right: 100px;
    color: #F2F6F0;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.params .color-choice .color {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
}

.params .theme-switch {
    background-color: #f2f6f095;
    height: 14px;
    border-radius: 99px;
    width: 25px;
    display: flex;
    justify-content: flex-end;
    padding: 2px;
    cursor: pointer;
}

.params .theme-switch .switcher {
    background-color: #080908;
    height: 10px;
    width: 10px;
    border-radius: 99px;
}


/* FONTS IMPORT */
@font-face {
    font-family: 'format';
    src: url("../fonts/Format_1452.woff");
}

@font-face {
    font-family: "RobotoMono";
    src: url('../fonts/RobotoMono-VariableFont.ttf') format("truetype-variations");
    font-weight: 100 700;
}
@font-face {
    font-family: "RobotoMono italic";
    src: url('../fonts/RobotoMono-Italic-VariableFont.ttf') format("truetype-variations");
    font-weight: 100 700;
}