<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paul Binot</title>
    <link rel="stylesheet" href="/style/reset.css">
    <link rel="stylesheet" href="/style/style.css">
<body>
    <header>
        <h1><span class="variation-color">@</span>paul_binot</h1>
        <nav class="descktop-nav">
            <ul>
                <a href="/" class="link uppercase"><li>About me</li></a>
                <a href="/" class="link uppercase"><li>Schooling</li></a>
                <a href="#" class="link uppercase"><li>Skills</li></a>
                <a href="#" class="link uppercase"><li>XP</li></a>
                <a href="#" class="link uppercase"><li>Projects</li></a>
                <a href="#" class="link uppercase"><li>Contact</li></a>
            </ul>
        </nav>
    </header>
    <div class="page-container">
        <main>
            <section id="about-me">
                <h2>about Me <span class="variation-color">.</span></h2>
                <div class="about-me-content section-content">
                    <div class="infos">
                        <p><span class="variation-color">Hello !</span> My name is Paul BINOT and I'm a french programer <i>(student for the moment to be honest;))</i></p>
                    </div>
                    <div class="photo">
                        <img src="/images/pp.jpg" alt="Profile picture Paul BINOT">
                    </div>
                </div>

            </section>
            <section id="skills">
                <h2>Skills <span class="variation-color">.</span></h2>

            </section>
            <section id="experiences">
                <h2>Experiences <span class="variation-color">.</span></h2>

            </section>
        </main>
    </div>
    
    <footer>

    </footer>
    <!-- Décoration -->
    <div class="top-left-h white"></div>
    <div class="top-left-v white"></div>
    <div class="top-right-h white"></div>
    <div class="top-right-v white"></div>
    <div class="bottom-left-h white"></div>
    <div class="bottom-left-v white"></div>
    <div class="bottom-right-h white"></div>
    <div class="bottom-right-v white"></div>
    <div class="right-px-count px-count">
        <div class="title">0px</div>
        <div class="line"></div>
        <div class="title">250px</div>
        <div class="line"></div>
        <div class="title">500px</div>
        <div class="line"></div>
        <div class="title">750px</div>
        <div class="line"></div>
        <div class="title">1000px</div>
        <div class="line"></div>
    </div>
    <div class="left-px-count px-count">
        <div class="title">0px</div>
        <div class="line"></div>
        <div class="title">250px</div>
        <div class="line"></div>
        <div class="title">500px</div>
        <div class="line"></div>
        <div class="title">750px</div>
        <div class="line"></div>
        <div class="title">1000px</div>
        <div class="line"></div>
    </div>
    <div class="params">
        <div class="theme-switch">
            <div class="switcher"></div>
        </div>
        <div class="color-choice variation-color">#<span class="color">44F917</span></div>
    </div>
</body>
</html>